#settings .modules-settings-card .modules-settings-list .modules-settings-item {
  .modules-settings-options {
    position: relative;

    button {
      height: 2em;
      width: 2em;
      padding: 0;
      font-size: 1.25em;
    }

    ul {
      position: absolute;
      display: flex;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 0.5em;
      gap: .75em;
      border: 1px solid transparent;
      border-radius: 0.5em;
      transition: all 0.3s ease;

      li div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        transition: color 0.3s ease;

        &:hover {
          color: var(--main-item-color-new);
        }
      }
    }

    &.p-speeddial-open {
      button {
        opacity: 0;
      }

      ul {
        background: $content-background;
        border: 1px solid $p-card-border;
      }
    }
  }
}

.modules-settings-options-dialog {
  width: 100%;
  max-width: 400px;

  .p-dialog-content {
    padding-bottom: .5em;

    p {
      margin: 0;
    }
  }

  .p-dialog-footer {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
}