#settings .modules-settings-card .modules-settings-list {
  .modules-settings-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
    cursor: pointer;
    padding: 0.125em 0.5em 0.125em 0.125em;

    &:hover {
      background-color: var(--main-item-highlight-color-new);
    }

    &:not(.active) {
      background-color: $content-background;
    }

    &-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      min-width: 0;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      min-width: 0;
      flex: 1;

      label {
        font-weight: 500;
        cursor: pointer;
      }

      p {
        margin: 0;
        font-size: $font-size-xs;
        opacity: 0.7;
        cursor: pointer;
        overflow: hidden;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}