#settings .panel-container .modules-settings-detail-card {
  height: 100%;
  padding: 1rem;

  .p-card-body {
    padding: 0 !important;
    
    .p-card-content {
      flex-direction: column !important;
    }
  }

  .modules-settings-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    .modules-settings-detail-header-info {
      display: flex;
      align-items: center;
      gap: 1rem;

      h2 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
      }

      p {
        margin: 0;
        font-size: .875rem;
      }
    }

    .modules-settings-detail-header-actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;

      @media (width > $md) {
        width: auto;
      }
    }
  }

  .modules-settings-detail-content {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;

    @media (width > $md) {
      padding: 1rem;
    }
  }

  .modules-settings-detail-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    .modules-settings-detail-info-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-weight: 600;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }

      p {
        margin: 0;
        font-size: 1rem;
      }
    }

    @media (width > $md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (width > $lg) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .modules-settings-detail-settings {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    .settings-card {
      border: none !important;
      padding: 1rem 0 0;
      
      @media (width > $md) {
        border: 1px solid $p-card-border !important;
        padding: 1rem;
      }
    }
  }

  .modules-settings-detail-error {
    padding: 2rem;
    text-align: center;
  }
}

