.readme-content {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;

  h1 {
    margin-top: 0;
    color: $white-text-color;
  }

  h2 {
    margin-bottom: -0.5em;
    color: $white-text-color;
  }

  h3,
  h4,
  h5,
  h6 {
    color: $white-text-color;
  }

  p,
  li,
  span,
  a {
    color: $white-text-color;
  }

  code {
    background-color: rgb(255 255 255 / 10%);
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
    font-family: monospace;
  }

  pre {
    background-color: rgb(255 255 255 / 5%);
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;

    code {
      background-color: transparent;
      padding: 0;
    }
  }

  a {
    color: var(--main-item-hover-color-new);
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  blockquote {
    border-left: 3px solid var(--main-item-hover-color-new);
    padding-left: 1rem;
    margin-left: 0;
    color: $white-text-color;
    opacity: 0.8;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;

    th,
    td {
      border: 1px solid $p-card-border;
      padding: 0.5rem;
      color: $white-text-color;
    }

    th {
      background-color: rgb(255 255 255 / 5%);
      font-weight: 600;
    }
  }
}

.readme-loading {
  padding: 2rem;
  text-align: center;
  color: $white-text-color;
}

