.readme-content {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-bottom: -0.5em;
  }
}

.modules-swiper {
  display: flex;
  justify-content: center;
  align-items: center;

  swiper-slide {
    opacity: 0;
    position: relative;
    top: 3px;

    .cube {
      height: 52px !important;
      width: 52px !important;
      transition: all 0.3s ease;
      color: $white-text-color;
      padding: 0.55em;

      &:has(.ad-logo) {
        padding: 0.35em;
      }

      .iconify {
        transition: all 0.3s ease;
        font-size: 1.7em;
      }

      &[data-p-active='true'] {
        box-shadow: 0 0 4px $primary-color !important;
        filter: brightness(1.5);

        .iconify {
          color: $primary-color;
        }
      }

      &:hover {
        .iconify {
          color: $primary-color;
        }
      }
    }
  }

  @media (width >= $lg) {
    swiper-slide {
      top: 0;
      left: 3px;
    }
  }
}

section#modules {
  display: flex;
  justify-content: center;

  & > .modules-container {
    width: 100%;
    max-width: 800px;
    padding: 2em 1em;

    .p-steppanels {
      opacity: 0;
    }

    .p-stepper {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      .p-steplist {
        display: flex;
        gap: 1em;
        overflow: visible;

        .main-item {
          border: none !important;
          background: transparent !important;
        }

        .modules-swiper {
          width: 100%;
          height: 58px;

          swiper-slide {
            height: 52px !important;
            width: 52px !important;
          }
        }
      }

      .p-steppanels {
        position: relative;
        display: flex;
        gap: 1.5em;
        width: 100%;
        height: 100%;
        padding: 0;
        min-height: 432px;

        .p-steppanel {
          position: relative;
          width: 100%;
          height: 100%;
          min-height: 432px;
          background: $content-background;
          border: 1px solid $p-card-border !important;
          border-radius: 0.5rem;
          padding: 0;
        }
      }
    }

    @media (width >= $lg) {
      padding: 4em 2em;

      .p-stepper {
        flex-direction: row;
        gap: 2em;

        .p-steplist {
          .modules-swiper {
            width: 58px;
            height: 100%;
            max-height: 432px;
          }
        }
      }
    }
  }
}

.step-panel-container {
  position: relative;
  padding: 1.5rem;
  min-height: 432px;
  transition: all 0.3s ease;

  h2,
  p,
  a,
  li,
  span {
    color: $white-text-color;
  }

  &:has(.tech-heading) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
}

.tech-heading {
  text-align: center;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}

.tech-text {
  display: inline-block;
  margin: 0;
  transition: all 0.3s ease;
  font-size: 1.5em;
}

.fade-enter-active,
.fade-leave-active {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
